/* was fallowed by this video https://www.youtube.com/watch?v=yfoY53QXEnI */
a:hover{
    color: red;
}
a:active{
    color:green
}
.links{
    width: 80%;
    margin: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    background-color: black;
    color: white;
}
.links li{
    display: inline;
}
.links a{
    color:white;
    text-decoration: none;
    font: size 18px;
    padding-right: 15px;
}
.links :hover{
    color: blue;
}
.button{
    background-color: black;
    color: white;
    padding:10px;
    border:orangered;
}
.login-header{
    text-align: center;
    background-color: coral;
    color: blue;
    padding: 10px;
    width:auto;
    margin: auto;
    /* height: 131px; */
    /* border: 5px red solid; */
}
.main-footer{
    text-align: center;
    font: size 18px; ;
}
.bodyid{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4em;
    background-image: url("BackgroundImages/mainBackground.jpg");
}
.container{
    color:black;
    width: 500px;
    margin: auto;
}
.myform{
    padding: 20px;
}
.myform label{
    display:block;
    size: 50px;
}
.myform input[type="text"], .myform textarea{
    padding: 8px;
    width: 100%;
}
.loginBlock{
    text-align: center;
    background-color: thistle;
    color: blue;
    padding: 30px;
    width: 350px;
    height: 150px;
    margin: auto;
}
