/* was fallowed by this video https://www.youtube.com/watch?v=yfoY53QXEnI */
a:hover{
    color: red;
}
a:active{
    color:green
}
.button:active{
    color: blue;
    background-color: darkorange;
}
.button:hover{
    background-color: darkgreen;
    color: red;
}
.links{
    width: 80%;
    margin: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    background-color: black;
    color: white;
}
.links li{
    display: inline;
}
.links a{
    color:white;
    text-decoration: none;
    font: size 18px;
    padding-right: 15px;
}
.links :hover{
    color: blue;
}
.button{
    background-color: black;
    color: white;
    padding:10px;
    border:orangered;
}
.register-header{
    text-align: center;
    background-color: coral;
    color: blue;
    padding: 10px;
    width:auto;
    margin: auto;
}
.bodyid{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4em;
    background-image: url("BackgroundImages/mainBackground.jpg");
}
.registerBlock{
    text-align: center;
    background-color: thistle;
    color: blue;
    padding: 30px;
    width: 350px;
    height: 450px;
    margin: auto;
}